/* -------------------- Reboot -------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: unset;
}

button {
	cursor: pointer;
	border: none;
	background-color: unset;
	color: unset;

	font-family: var(--font-body);
	font-size: unset;
}

/* -------------------- /Reboot -------------------- */

/* -------------------- Utilities & Universals -------------------- */

:root {
	--neon-sky-blue: #4deeea;
	--neon-green: #13e907;
	--neon-pink: #f000ff;
	--neon-blue: #0e1dff;
	--off-yellow: #ffe700;

	--main-font: "grover";
	--backup-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* 
	font-family: "grover";
	font-family: "bd-geminis";
	font-family: "nippori";
	font-family: "bd-retrocentric";

	font-family: "bd-jupiter";
	font-family: "bd-jupiter-stencil";
	font-weight: 400, 700;
	*/
}

body {
	min-height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	background-color: black;
	color: var(--neon-green);
	font-family: var(--main-font), var(--backup-fonts);
}

.hidden {
	display: none !important;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: min(calc(100vw / 14), 30px);
}

h3 {
	font-size: 16px;
}

/* -------------------- /Utilities & Universals -------------------- */

/* -------------------- Content -------------------- */
/* -------------------- Header -------------------- */

header {
	display: none;
}

/* -------------------- /Header -------------------- */

/* -------------------- Main -------------------- */

main {
	flex: 1;

	display: flex;
	flex-direction: column;
}

/* -------------------- Welcome -------------------- */



/* -------------------- /Welcome -------------------- */

/* -------------------- Playground -------------------- */

.playground {
	flex: 1;

	display: flex;
	flex-direction: column;
}

/* -------------------- Upper -------------------- */

.upper {
	flex: 1;
	margin-top: 100px;

	display: flex;
	align-items: center;
}

.message {
	flex: 1;
	color: yellow;
	text-align: center;
	text-transform: uppercase;
	font-size: max(calc(100vw / 14), 30px);
}

.scoreboard {
	--prog-visual-width: 3vw;
	--prog-bd-radius: calc(var(--prog-visual-width)) 0 0 calc(var(--prog-visual-width));

	margin: 0 -18vh 0 -22vh;
	transform: rotate(90deg);

	display: flex;
	align-items: center;
	gap: 5px;

	border-radius: var(--prog-visual-width);
	background-color: white;
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;

	width: 20vh;
	height: var(--prog-visual-width);
}

progress[value]::-webkit-progress-bar {
	background-color: #262626;
	border-radius: var(--prog-bd-radius);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]#user-progress::-webkit-progress-bar {
	transform: rotate(180deg);
}

progress[value]::-webkit-progress-value {
	border-radius: var(--prog-bd-radius);
}

progress[value]#computer-progress::-webkit-progress-value {
	background-color: var(--neon-pink);
}

progress[value]#user-progress::-webkit-progress-value {
	background-color: var(--neon-green);
}

/* -------------------- /Upper -------------------- */

/* -------------------- Lower -------------------- */

.lower {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons {
	--button-dimensions: min(90px, 25vw);

	margin-bottom: -20px;

	display: grid;
	grid-template-areas:
		".... paper ........"
		"rock paper scissors"
		"rock ..... scissors";
	column-gap: calc(0.24 * var(--button-dimensions));
}

button {
	width: var(--button-dimensions);
	height: var(--button-dimensions);

	background-color: var(--neon-sky-blue);
	color: #000;
	border-radius: var(--button-dimensions);
}

button i {
	font-size: calc(0.7 * var(--button-dimensions));
}

button#rock {
	grid-area: rock;
}

button#paper {
	grid-area: paper;
}

button#scissors {
	grid-area: scissors;
	transform: rotate(90deg) scaleY(-1);
}

button:hover {
	background-color: unset;
	border: 2px solid greenyellow;
	color: greenyellow;
}

button:active {
	background-color: unset;
	border: 2px solid var(--neon-green);
	color: var(--neon-green);
}

button.chosen {
	background-color: unset;
	border: 2px solid var(--neon-green);
	color: var(--neon-green);
}

.round-number {
	--round-number-dimensions: 120px;

	width: var(--round-number-dimensions);
	height: var(--round-number-dimensions);
	margin-bottom: calc(-0.5 * var(--round-number-dimensions));

	display: grid;
	place-content: center;

	background-color: #000;
	box-shadow: inset 0 0 calc(0.2 * var(--round-number-dimensions)) 1px var(--neon-sky-blue);
	border-radius: var(--round-number-dimensions);
}

.round-number h3 {
	margin-bottom: calc(0.3 * var(--round-number-dimensions));
	font-size: calc(0.22 * var(--round-number-dimensions));
}

/* -------------------- /Lower -------------------- */
/* -------------------- /Playground -------------------- */

/* -------------------- Game Over -------------------- */



/* -------------------- /Game Over -------------------- */
/* -------------------- /Main -------------------- */

/* -------------------- Footer -------------------- */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: auto 0 8px;
	text-align: center;
}

#my-name {
	font-weight: bold;
}

a {
	text-decoration: none;
}

.fa.fa-github {
	color: white;
	font-size: 34px;
}

.fa-github:hover {
	color: white;
	transition: transform 0.4s ease-in-out;
	transform: rotate(-360deg) scale(1.3);
}

/* -------------------- /Footer -------------------- */
/* -------------------- /Content -------------------- */

/* -------------------- Media -------------------- */

@media screen and (min-width: 700px) {
	header {
		display: block;
		margin: 20px;
	}

	progress[value] {
		--prog-visual-width: 2vw;
	}
}