/* * {
	border: 1px solid red;
} */

body {
	background-color: black;
	color: #13e907;
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	box-sizing: border-box;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	margin-bottom: 50px;
}

.game {
	display: flex;
	flex-direction: column;
	align-items:center;
	gap: 50px;
}


	.results {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 10px;
		width: 400px;
	}
		
		h2 {
			font-size: 20px;
			margin: 0 0 10px 0;
		}
		
		.changeable {
				display: flex;
				flex-direction: column;
				gap: 10px;
				padding-left: 60px;
			}
		
				.player {
					color: aqua;
				}

				.computer{
					color: yellow;
				}

				.round-outcome {
					padding-top: 10px;
				}

		.scoreboard {
			border: 2px solid #13e907;
			display: flex;
			justify-content: space-evenly;
			padding: 20px;
		}

			.scoreboard .text {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

	.buttons {
		display: flex;
		gap: 15px;
	}

		button {
			background-size: 75%;
			background-repeat: no-repeat;
			background-color: black;
			background-position: center;			
			padding-bottom: 25px;
			margin: 10px;
			border-radius: 105px;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			color: white;
			width: 200px;
			height: 330px;
			border: none;
    		box-shadow: inset 0px 0px 20px 0px #13e907;
			transition: 0.07s;
			font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-weight: bold;
			font-size: large;
		}

		#rock {
			background-image: url(./images/rps-hands-rock.png);
			background-position-y: 111px;
		}

		#paper {
			background-image: url(./images/rps-hands-paper.png);
			background-position-y: 48px;
		}

		#scissors {
			background-image: url(./images/rps-hands-scissors.png);
		}

		.clicked {
			box-shadow: 0px 0px 15px 0px yellow;
			scale: 1.02;
			color: yellow;
		}